samples/*.fq*
*.o*
local/utils/*.html
local/utils/*.csv
local/utils/data/*
local/utils/refseq/*
local/utils/genbank/*
local/utils/outputs/*
local/utils/outputs*
local/utils/*.dat
local/utils/.ipynb_checkpoints/*